@media screen and (max-width:1400px) {
    
    /* section-1 */
    .section-1 div{
        width:57%;
        padding: 175px 0px 0px 110px;
    }
    .section-1 p{
        font-size:4re;
    }
    /* section-2 */
    .section-2{
        margin:-72px 0px 0px 0px;
    }
    .feature_box{
        height:260px;
        padding:2%;
    }
    .feature_box i{
        height:60px;
        width:60px;
        font-size:45px;
    }
    .feature_box h4{
        font-size:18px;
        margin-top:20px;
    }
    .feature_box p{
        font-size:20px;
    }
    /* section-3 */
    .section-3-left{
        height:81vh;
    }
    .part-1{
        height:auto;
        margin:23px 0px 0px 33px;
        width:70%;
        padding:3%;

    }
    .part-1 h5{
        font-size: 28px;
    }
    .part-1 p{
        font-size: 15px;
    }
    .part-2{
        margin:23px 0px 0px 43px;
    }
    .part{
        width:50%;
        padding:4%;
        margin:2%;
    }
    /* section-4 */
    .desc p:first-child{font-size: 19px;}
    .desc h5{font-size:19px;}
    .desc p,h6{font-size: 14px;}
    .desc > *{padding:18px 14px 0px 18px}
    /* section-5 */
    .section-5{
        height:147vh;
    }
    .section-5 > div{
        padding-top:0px;
    }
    .image-section{
        margin:0px 0px 0px 83px;
    }
    .image-section img{
        height:280px;
    }
    /* section-6 */
    .section-6-left p{
        font-size: 22px;
        padding:25px 0px 0px 62px;
    }
    .section-6-left ol{
        margin:0%;
        padding: 28px 0px 0px 80px;
    }
    .section-6-left h6 {
        font-size: 28px;
    }
    /* section-7 */
    .section-7{
        height:130vh;
    }
    .section-7-top_part p{
        font-size:25px
    }
    .section-7-top_part h6{
        font-size:27px;
        width:36%;
    }
    .container{
        margin: 57px 0px 0px 121px;
    }
    .features{
        margin:4%;
    }
    .features p{
        font-size:13px;
    }
    /* section-8 */
    .section-8{
        height:80vh;
        background-image:linear-gradient(rgba(28, 26, 26, 0.7), rgba(23, -27, 9, 0.7)), url('../images/computer-job-Accentuate.jpg');
    }
    /* section-9 */
    .section-9{
        height:100vh;
    }
    .section-8 .block{
        height:232px;
    }
    iframe{
        height:500px;
        width:500px;
        padding:77px 84px 0px 0px;
    }
    .contact{
        padding:195px;
    }
    /* jgkjujvjhgvjdehtjtjh */
}