@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    * {
        font-family: 'Roboto', sans-serif;
    }
    body {
        padding: 0px;
        margin: 0px;
        
    }
    body > p,h1,h2,h3,h4,h5,h6{
        margin:0px;
        padding:0px;
    }
    
    .section-1 {
        background-image: linear-gradient(rgba(28, 26, 26, 0.5), rgba(255, 255, 255, 0.1)), url('../images/computer-job-Accentuate.jpg');
        height: 125vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .section-1 header {
        height: 40px;
        padding: 42px 94px 0px 126px;
    }
    
    header {
        color: #F6D5CD;
        font-weight: 100;
        font-size: 28px;
        opacity: 0.7;
    }
    
    .section-1 > header > i {
        color: #dfdddc;
        float: right;
        padding-right: 30px;
        font-size:40px;
    }
    
    .section-1 div {
        width: 41%;
        padding: 334px 0px 0px 205px;
    }
    
    .section-1 div>p:first-child {
        color: white;
        font-size: 27px;
        font-weight: 400;
        padding-bottom: 61px;
    }
    
    .section-1 p {
        color: white;
        font-size: 97px;
        font-weight: 600;
        margin: 0px;
        padding: 0px
    }
    /* section-2 */
    .section-2 {
        width: 92%;
        height:71vh;
        text-align: center;
        margin: -156px 0px 0px 115px
    }
    
    .feature_boxes {
        display: flex;
        margin-right: 38px;
    }
    
    .feature_box {
        height: 419px;
        width: 16%;
        background-color: white;
        margin: 2%;
        text-align: center;
        padding: 2%;
        /* border: 0.9px rgb(216, 206, 206);
        border-style: none outset outset outset; */
        box-shadow: 0.1px 0.1px 10px 0.5px #c2c1c1;
    }
    
    .feature_box i {
        color: #f99fc1;
        background-color:#ff2850;
        height: 89px;
        width: 116px;
        font-size: 60px;
        border-radius: 50%;
        padding-top:30px;
       
    }
    
    .feature_box h4 {
        font-size: 22px;
        font-weight: 900;
        padding: 13%;
       
    }
    
    .feature_box p {
        font-size: 24px;
        color: #b5acac;
        opacity: 1;
        line-height: 39px;
        font-style:italic !important;
    }
    
    .section-3 {
        display: flex;
        height:120vh;
    }
    
    .section-3-left {
        width: 48%;
        background-image: url('../IMAGES/02_IMacWorkSpace2_Mockupsforfree.jpg');
        height: 120vh;
        background-position-x: 73%;
        background-repeat: no-repeat;
        zoom: 179%;
       
    }
    
    .section-3-right {
        width: 52%;
        background-color:#EFEDEE;
        position: relative;
    }
    
    .part-1 {
        width: 77%;
        background-color:#F0F0F0;
        margin: 68px 0px 0px 91px;
        height: 34%;
        padding:4%;
    }
    
    .part-1 p:first-child {
        color: red;
        font-size: 28px;
        font-weight: 600;
    
    }
    
    .part-1 h5 {
        font-size: 31px;
        font-weight: 600;
        padding: 0px;
        margin: 0px;
    }
    
    .part-1 p {
        color: #7c7c7c;
        font-size: 20px;
        line-height: 53px;
        opacity:1;
    }

    
    
    .part-2 {
        width: 84%;
        display: flex;
        margin: 45px 0px 0px 105px;
    }
    .part-2 .part:first-child{
        margin-right:60px;
    }
    
    .part {
        width: 45%;
        margin: 0px 0px 0px 0px;
        padding: 8%;
        background-color: #f0f0f0;
    }
    
    .part h6 {
        font-size: 23px;
        margin: 0px;
        padding: 0px;
        color:black
    }
    
    .part p {
        font-size: 15px;
        font-weight: 100;
        color: #b5acac;
        line-height: 38px;
    }
    
    .section-4 {
        height: 48vh;
        width: 100%;
        display: flex;
    }
    
    .section-4 div {
        color: white;
        height: 100%;
        background-color: black;
        width: 25%
    }
    
    .section-4 img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .desc > * {padding: 12px 14px 0px 21px;}
    .desc p:first-child{
        color:#87293D;
        font-size:23px;
    
    }
    .desc h5{font-size:35px;font-weight: 600;color:#C5C5C5}
    .desc p,h6{color:#87293D;;font-size:19px;}
    .desc p{color:#505050;font-style:italic;font-size:19px;line-height:38px;}
    
    
    .section-5 {
        height: 130vh;
    }
    
    .section-5>div {
        text-align: center;
        padding-top: 40px;
    }
    
    .section-5 div p:first-child {
        color: #d56d85;
        font-weight: 100;
        font-size: 27px;
    }
    
    .section-5 p {
        font-weight: 600;
        font-size: 30px;
    }
    
    .image-section img {
        height: 390px;
        width: 90%;
        margin: 5%
    }
    
    .image-section {
        display: grid;
        width: 89%;
        height: 90vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 64px 0px 0px 108px
    }
    /* section-6 */
    .section-6{
        height:80vh;
        width:100%;
        display:flex;
    }
    .section-6-right{
        width:50%;
    }
    .section-6-right img{
        width:100%;
        object-fit:contain;
        height:80%;
        
    }
    .section-6-left{
        width:50%;
        height: 100%;
        align-items: center;
    }
    .section-6-left{
        padding:0px 0px 0px 73px;
        line-height: 47px;
    }
    .section-6-left p{
        color:#d56d85;;
        font-size:29px;
        margin:10px;
        padding:158px 0px 0px 62px;
    }
    .section-6-left h6{
        color:black;
        font-size:35px;
        font-weight:900;
        padding:0px 0px 0px 73px;
    }
    .section-6-left ol{
        color:#b5acab;
        padding:0px 0px 0px 80px;
        font-size:21px;
        margin:2%;
        line-height:10px;
    }
    ol > li{
        line-height: 47px;
        font-style:italic;
        color:#818181;
    }
    /* section-7 */
    .section-7{
        width:100%;
        height:100vh;
        display:flex;
        background-color: #e4e4e4;
    }
    .section-7-left{
        width:40%;
        background-image:url('../IMAGES/71ropHPoRUL.jpg');
        zoom:189%;
     
    }
    .section-7-right{
        width:60%;
        height:100%;
    }
    .section-7-top_part{
        padding-left:139px;
        margin-top:117px;
    }
    .section-7-top_part p{
        color:red;
        padding:0px;
        font-size:28px;
        margin:0px;
    }
    .section-7-top_part h6{
        color:black;
        font-size:33px;
        font-weight:900;
        margin-top:27px;
        width:29%;
    }
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position:relative;
        margin:90px 0px 0px 124px;
    }
    .features{
        width:220px;
        margin:5%;
    }
    .features p:first-child{
        font-size:28px;
        font-weight: 600;
        color:black;
        font-style:none;
    }
    .features > p{
        font-size:16px;
        font-style:italic;
        font-weight: 600;
        color:#8D8D8D;
        line-height: 30px;;
    }
    /* section-8 */
    .section-8{
        background-image:linear-gradient(rgba(28, 26, 26, 0.7), rgba(29, 27, 27, 0.4)), url('../IMAGES/computer-job-Accentuate.jpg');
        background-size: cover;
        height:87vh;
        width:100%;
        background-repeat: no-repeat;
        position:relative;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .section-8  .block {
        border:2px solid rgb(168, 166, 166);
        width:55%;
        height:330px;
        position:absolute;
        padding:3%;
    }
    .section-8  .block > p:first-child{
        color:rgb(205, 103, 103);
        font-size:23px;
        margin:0px;
        font-weight:600;
    }
    .section-8 .block > p{
        font-weight:900;
        font-size:6.5vh;
        color:white;
        padding:2%;
        margin:0px
    }
    /* section-9 */
    .section-9{
        height:95vh;
        width:100%;
        background-color: black;
    }
    iframe{
        height:700px;
        width:850px;
        float:right;
        position:relative;
        padding:111px 160px 0px 0px;
        border:none;
    }
    .contact{
        color:rgb(161, 161, 161);
        font-size:22px;
        align-items: center;
        padding:305px;
        height:10%;
        line-height: 35px;
    }
    .contact h6{
        color:white;
        font-size:33px
    }
    /* section-footer */
    .footer{
        height:30vh;
        width:100%;
        background-color: rgb(49, 49, 49);
        display:flex;
    }
    .footer div{
        color: rgb(174, 174, 174);
        font-size:28px;
        width:60%;
        height:50%;
        margin:4%;
        text-align: center;
    }
    .footer h6{
        color:white;
        font-size:30px;
    }
