body{
    padding:0px;
    margin:0px;
    background-color:#ffebeb;
}
header{
    height:70px;
    background-color:rgb(62, 208,180);
    color:rgb(220,64,1);
    font-size:40px;
    font-weight:900;
    padding:10px 0px 0px 70px;
}
.container{
    /* background-color: white; */
    width:40%;
    min-width:300px;
    min-height: 70px;
    position:absolute;
    border-radius:15px;
    padding:20px;
    top:15%;
    left:30%;
    
}
.row > *{
    height:50px;
    border:5px solid blue;
    border-radius:15px;
    padding:10px;
    margin:10px;
}
.row > *:hover{
    box-shadow:10px 22px 14px  rgb(120, 120, 119) ;
}
.row > button{
    background-color: #1D75C8;
    color:white;
    float:right;
    width:14%;
    margin:10px 10px 10px 0px;
}
.row > button:hover{
    color:darkolivegreen;
    background-color: blanchedalmond;
    border:2px solid #36e4e1;
    font-weight:900;
    font-size:20px;
}
.row input{
    width:80%;
}
#task_list{
    transform: translateY(50% 50%);
    background-color: white;
    width:40%;
    min-width:300px;
    min-height: 50px;
    position:absolute;
    border-radius:15px;
    padding:0px;
    top:45%;
    left:30%;
    height:auto;
}

li{
    background-color:aqua;
    width:100%;
    min-width:300px;
    min-height: 30px;
    position:relative;
    border-radius:15px;
    padding:20px;
    height:auto;
    border: #1D75C8;
    margin:2px 2px 2px 0px;
    list-style-type:none;
}
li > span{
    column-gap:10px;float:right;
}
span > button:first-child{
    height:40px;
    background-color: #1D75C8;
    border:1px solid blue;
    border-radius:15px;
    padding:10px;
    color:white;
    margin:-18px 34px 0px 0px;
}
#form{
    display:none;
}
.btn{
    padding:10px;
    margin:0px;
    padding:0px;
}